In [40]:
print(27 == "27")                                           # Comparion Operators always return True or False

False

In [33]:
present_person = 27                                         # Comparion Operators compare two values(their cases if they are 
number_of_foodbags = "27"                                   # string) and their Data Type values for (==, !=) Operators
print(27 != number_of_foodbags)                             # On L.H.S 27 is number, on R.H.S 27 is string so result is False

True

In [28]:
unemployed_graduates = 1478                                  # Like Math Expressions and concatenation, comparison Operations 
available_jobs = 1546                                        # can also be performed in print statement and on R.H.S of  
unemployment_status = unemployed_graduates >= available_jobs # assignment operator
print(unemployment_status)

False

In [35]:
greetings = "Hello,"
addressee = "World!"
greetings_accepted = "Hello, World!" == (greetings + " " + addressee)
print(greetings_accepted)

True

In [37]:
selling_price = 38                                           # Math Expressions and Concatenation can also be put on  
purchasing_price = 20                                        # either side of Comparison Operator to get solved
transport_expense = 7
storage_expense = 3
labour_expense = 5
profit = selling_price > (purchasing_price + 7 + 3 + labour_expense)
print(profit)

True

In [38]:
selling_price = 38                                           # Using equality operator(==) and unequality operator(!=),  
purchasing_price = 20                                        # one can dare to compare a number and a string        
transport_expense = 7                                        
storage_expense = 3                                          # But for other Comparison Operators(>, >=, <, <=) comparison of 
labour_expense = 5                                           # values with different datatypes is not allowed
profit = selling_price > ("20" + "7" + "3" + "5")
print(profit)

TypeError: '>' not supported between instances of 'int' and 'str'

In [48]:
first_string = "azya"                                       # when strings are compared using (>,>=,<,<=) Operartors
second_string = "b"                                         # they actually compare same positioned charcters with precedence 
print(second_string > first_string)                         # decreasing from (z,y to b,a) or from (Z,Y to B,A)

True

In [125]:
if True:                                                  # if statement can talkes any number(positive or negative) that 
    print("if statement is true")                         # does not start with 0, can take floating value(positive or negative)
                                                          # except 0.0, a valid string or True keyword in it
                                                          # it may also contain 0, 0.0, empty string or False keyword

if statement is true

In [108]:
if False:
    print("if statement is false")

In [126]:
status = True                                            # keyword or value can be in variable
if status:
    print("status variable has the True value or number or float value or a valid string ")

status variable has the True value or number or float value or a valid string

In [127]:
status = 0.0
if status:
    print("0.0 in if statement does not allow then part to execute")

In [124]:
status = 234
if status:
    print("all numbers except 0 allow then part to execute")

all numbers except 0 allow then part to execute

In [99]:
if -987:
    print("all numbers except 0 allow then part to execute")

all numbers except 0 are true

In [116]:
if -09.7:
    print("all floating values allow then part to execute")

all floating values allow then part to execute

In [117]:
if -097:
    print("Numbers staring with 0 gives error")

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-117-5a93ed73898b>, line 1)

In [128]:
if "False":                                                        
    print("Valid String allows then part to execute")

Valid String allows then part to execute

In [131]:
if " ":                                                        
    print("Valid String allows then part to execute")

Valid String allows then part to execute

In [132]:
if "":
    print("Empty String doesn't allows then part to execute")

In [139]:
if (1<3 and " "):
    print("its working")

its working

In [143]:
list1 =["ali", "alia", "Muhammad"]

In [144]:
list1

['ali', 'alia', 'Muhammad']

In [145]:
print(list1)

['ali', 'alia', 'Muhammad']

In [146]:
list2 = [2, "fan", True, 34]
print(list2)

[2, 'fan', True, 34]

In [148]:
name = 34
list3 = [45, "fan", True, name]
print(list3)

[45, 'fan', True, 34]

In [149]:
print(list3[3])

34

In [150]:
newlist = list1 + list2
print(newlist)

['ali', 'alia', 'Muhammad', 2, 'fan', True, 34]

In [153]:
newlist = list1 + ["Hassan", "Hussain"]
print(newlist)

['ali', 'alia', 'Muhammad', 'Hassan', 'Hussain']

In [152]:
newlist += ["Hassan", "Hussain"]
print(newlist)

['ali', 'alia', 'Muhammad', 'Hassan', 'Hussain', 'Hassan', 'Hussain']

In [154]:
list4 = []
print(list4)

[]